#
# mailpeek config file
#
; comment lines are starting with # or ;
# parameters are in the form param: value
# no comment allowed after a paramter line
#

# keep a log file. No is no, any other val is yes
log: no

#
# accounts
# values and params in the ACCOUNT structure are case sensitive
#
#<ACCOUNT>
#  # where to send retrieved mail, multiple lines ok
#  smtpto: amelinte@alis.com
#  smtpto: mailb
#  # mail host through which send articles found. default localhost
#  smtpserver: alis-2
#  # interval at which retry to send mail (seconds). default 3600
#  smtpinterval: 120
#  #
#  # account from which to get mail
#  popfrom: amelinte
#  popserver: localhost
#  # interval at which check news ( seconds ). default 3600
#  popinterval: 5
#</ACCOUNT>

# multiple accounts ok
<ACCOUNT>
  smtpto: amelinte@[172.17.0.13]
  smtpserver: localhost
  smtpinterval: 120
  popfrom: amelinte
  popserver: alis-2
  popinterval: 300
</ACCOUNT>
