#
# vigilant config file
#
; comment lines are starting with # or ;
# parameters are in the form param: value
# no comment allowed after a paramter line
#

# keep a log file. No is no, any other val is yes
log: no

# news server. default localhost
newsserver: nr1.montreal.istar.net

# mail host through which send articles found. default localhost
mailrelay: ottawa

# interval at which check news ( seconds ). default 3600
newsinterval: 450

# interval at which retry to send mail. default 3600
mailinterval: 120

#
# queries
#
<QRY>
  # values and params in the QRY structure are case sensitive
  # where to send found articles
  to: amelinte@alis.com
  to: amelinte@[172.17.0.13]
  group: comp.os.plan9
  # AND of various what lines
  # rx regular expressions
  what: [Vv].ware
  what: state
  # at startup check all messages or only incoming ones from now on
  # all | now   Default all
  start: all
</QRY>

<QRY>
  to: amelinte@[172.17.0.13]
  group: comp.ai.nat-lang
  what: C\+\+
</QRY>

<QRY>
  to: amelinte@[172.17.0.13]
  group: mtl.jobs
  what: C\+\+|C\+\+|[hH]ardware
  what: Montr.al
  start: now
</QRY>


